

/* .moment-mask::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffd54f;
  transform: skew(-12deg);
  z-index: -1;
  border-radius: 4px;
} */

.moment-mask {
  display: inline-block;
  transform: rotate(2deg);
}

.moment-mask h1 {
  display: inline-block;
  transform: rotate(-2deg);
}


.hero-image-content {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  place-items: center;
  margin: 0px;
  padding: 10px;
  list-style-type: none;
  opacity: 1;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%); 
  overflow: hidden;
}